body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 /* header start */

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 150px;

}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    padding-bottom: 100px;
    
}


.header-top-logo {
    font-size: 24px;
    font-weight: bolder;
}

.header-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.header-content-left {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-left-title {
    font-size: 48px;
    font-weight: bolder;
}

.header-left-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-left-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
    align-self: flex-start;
    
}

.header-content-right {
    background-color: gray;
    padding: 150px 220px;
    white-space: nowrap;
}

/*header end*/

/*section1 start */

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.section1-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.section1-content {
    display: flex;
    gap: 60px;
    justify-content: center;

}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.box {
    padding: 80px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

.content-text {
    max-width: fit-content;
    text-align: center;
    align-self: center;
    font-size: 18px;
}
 /*section1 end*/

 /*section2 start*/

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #E5E7EB;
    padding: 100px 540px;
}


.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    text-align: justify;
}

.quote-footer {
    font-size: 22px;
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
}

 /*section2 end */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}